{% extends 'base.html' %}
{% load static %}
{% block content %}

<img class="intro-image" src="{% static 'images/friend.svg' %}" alt="">
<div class="intro-container"> 
    <h4 class="intro-title">How it works</h4>
    <div class="intro-subtitle">Compatible horoscope = match!</div>
</div>

<div class="dot-container">
    <img src="{% static 'images/fillin.svg' %}" alt="">
    <img src="{% static 'images/fillin.svg' %}" alt="">
    <img src="{% static 'images/fillin.svg' %}" alt="">
</div>

<div class="skip-container">
    <a href="{% url 'edit' %}"><button class="started-button">Get Started</button></a>
</div>


<!-- <a href="{% url 'profile' %}">Profile</a> -->

{% endblock %}