{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="profile">
    <h2 style="text-align: center; margin-bottom: 15px;">{{user.username}}</h2>
</div>

<div class="no-pic">
    {% if profile.profile_pic %}
        <img src="{{ profile.profile_pic.url }}" alt="">
    {% else %}
        <h3>No photo uploaded</h3>
    {% endif %}
</div>

<div class="sign-box">Sign: {{user.horoscope.horoscope}}</div>

<p class="edit-title">HOBBIES</p>
<div class="profile-details">Hobbies go here</div>
<p class="edit-title">FAVOURITE MOVIES</p>
<div class="profile-details">Movie info goes here</div>
<p class="edit-title">FAVOURITE FOODS</p>
<div class="profile-details">Food info goes here</div>
<p class="edit-title">SOCIAL MEDIA</p>
<div class="ig-container">
    <div style="margin-top: 10px;"class="ig-details">{{user.username}}@social.com</div>
</div>

<div class="bottom-nav-container">
    <div><a class="nav" href="{% url 'matches' %}">MATCHES</a></div>
    <div><a class="nav" href="{% url 'profile' %}">PROFILE</a></div>
    <div><a class="nav" href="{% url 'home' %} ">LOG OUT</a></div>
</div>



{% endblock %}