{% extends 'base.html' %}
{% load static %}
{% block content %}




<h1>Sign Up</h1>

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn" value="signup">
</form>




<!-- <h4 class="started">Let's Get Started</h4>

<form class="intro-form" action="{% url 'intro_one' %}" method="post">
    <input class="intro-input" type="text" placeholder="User Name...">
    <input class="intro-input" type="text" placeholder="Password...">
    <input class="intro-input" type="text" placeholder="Password Again...">
    <input class="intro-submit" type="submit" value="Submit">
</form> -->



<!-- <h1>Sign Up</h1>

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn" value="signup">
</form> -->





<!-- <p style="text-align: center; margin-top: 310px;">Already a member?<a class="login" href="{% url 'login' %}">LOG IN</a></p>
<a href="{% url 'intro_one' %}">Intro 1 (Here temporarily)</a> -->
{% endblock %}