{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="profile">EDIT PROFILE</div>


<div class="no-pic"><img style="width: 150px; height: 150px; border-radius: 50%;" src="{{ profile.image.url }}" alt=""></div>



<h2 style="text-align: center;"> USER NAME HERE</h2>

<p class="edit-title">ABOUT ME</p>
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<input class="edit-area-2" type="text" placeholder="Insert text...">
<p class="edit-title">FAVOURITE MOVIES</p>
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<input class="edit-area-2" type="text" placeholder="Insert text...">
<p class="edit-title">FAVOURITE FOODS</p>
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<input class="edit-area-2" type="text" placeholder="Insert text...">
<p class="edit-title">SOCIAL MEDIA</p>
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<div class="ig-container">
    <img class="ig" style="display: inline"src="{% static 'images/ig.svg' %}" alt="">
    <input type="text" class="ig-text" placeholder="Instagram url">
</div>
<div style="margin-top: 25px;">
<a style="color: black; text-decoration: none;" href="{% url 'profile' %}"><button class="continue-button">Submit</button></a>
</div>
{% endblock %}