{% extends 'base.html' %}
{% load static %}
{% block content %}


<div style="text-align: center; font-size: 24px; letter-spacing: 4.8px; margin-top: 48px;">
    Personal matches
</div>

<div class="match-container">
    {% for match in matches %}
        <div class="match-card">
            <img src="{% static 'images/checkmark.svg' %}" alt=""><br>
            <p class="edit-title">USERNAME</p>
            <div class="profile-details">{{match.username}}</div>
            <p class="edit-title">SIGN</p>
            <div class="profile-details">{{match.horoscope.horoscope}}</div>
            
        </div>
        <a style="margin-left: 30px; color: #333333;" href="{% url 'profile_view' match.id %}">View Profile</a>        
    {% endfor %}
</div>


    <!-- <div class="match-card">
        <img src="{% static 'images/checkmark.svg' %}" alt="">
        <p>Frank</p>
        <p>Match 3</p>
        <p>IG handle</p>
    </div>
</div> -->

<div class="bottom-nav-container">
    <div><a class="nav" href="{% url 'matches' %}">MATCHES</a></div>
    <div><a class="nav" href="{% url 'profile' %}">PROFILE</a></div>
    <div><a class="nav" href="{% url 'home' %} ">LOG OUT</a></div>
</div>


{% endblock %}