{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="profile">PROFILE<span class="edit-btn"><a href="{% url 'edit_after' %}"><img src="{% static 'images/edit-btn.svg' %}" alt=""></a></span>
</div>

<div class="no-pic"><img style="width: 150px; height: 150px; border-radius: 50%;" src="{{ profile.image.url }}" alt=""></div>

<!-- there needs to be upload image functionality here (form/input... whatever)-->


<h2 style="text-align: center; margin-bottom: 15px;"> USER NAME HERE</h2>

<div class="sign-box">SIGN HERE</div>

<p class="edit-title">HOBBIES</p>
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<div class="profile-details">Hobbies go here</div>
<p class="edit-title">FAVOURITE MOVIES</p>
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<div class="profile-details">Movie info goes here</div>
<p class="edit-title">FAVOURITE FOODS</p>
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<div class="profile-details">Food info goes here</div>
<p class="edit-title">SOCIAL MEDIA</p>
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<div class="ig-container">
    <img class="ig" style="display: inline"src="{% static 'images/ig.svg' %}" alt="">
    <div style="margin-top: 10px;"class="ig-details">Instagram handle goes here</div>
</div>

<div class="bottom-nav-container">
    <div><a class="nav" href="{% url 'matches' %}">MATCHES</a></div>
    <div><a class="nav" href="{% url 'profile' %}">PROFILE</a></div>
    <div><a class="nav" href="{% url 'horoscope' %}">HOROSCOPE</a></div>
    <div><a class="nav" href="">LOG OUT</a></div>
</div>


    <!-- <a href=""></a>
    <a href="{% url 'questions_one' %}">Horoscope Icons</a>
    <a href="{% url 'horoscope' %}">Daily Horoscope</a>
    
    <br><br>
    <a style="display: block;" href="">Log Out (goes nowhere right now)</a> -->


{% endblock %}
