{% extends 'base.html' %} {% load static %} {% block content %}

<p class="horoscope-title-large">Click a horoscope to learn more</p>
<p class="horoscope-title-small">Tap a horoscope to learn more</p>
<br />
<div class="horoscope-container">
  <div>
    <a href="{% url 'aries' %}"><img src="{% static 'horoscopes/aries.svg' %}" alt="" /></a>
    <p class="grid-item">Aries</p>
  </div>
  <div>
    <a href="{% url 'taurus' %}"><img src="{% static 'horoscopes/taurus.svg' %}" alt="" /></a>
    <p class="grid-item">Taurus</p>
  </div>
  <div>
    <a href="{% url 'gemini' %}"><img src="{% static 'horoscopes/gemini.svg' %}" alt="" /></a>
    <p class="grid-item">Gemini</p>
  </div>
  <div>
    <a href="{% url 'cancer' %}"><img src="{% static 'horoscopes/cancer.svg' %}" alt="" /></a>
    <p class="grid-item">Cancer</p>
  </div>
  <div>
    <a href="{% url 'leo' %}"><img src="{% static 'horoscopes/leo.svg' %}" alt="" /></a>
    <p class="grid-item">Leo</p>
  </div>
  <div>
    <a href="{% url 'virgo' %}"><img src="{% static 'horoscopes/virgo.svg' %}" alt="" /></a>
    <p class="grid-item">Virgo</p>
  </div>
  <div>
    <a href="{% url 'libra' %}"><img src="{% static 'horoscopes/libra.svg' %}" alt="" /></a>
    <p class="grid-item">Libra</p>
  </div>
  <div>
    <a href="{% url 'scorpio' %}"><img src="{% static 'horoscopes/scorpio.svg' %}" alt="" /></a>
    <p class="grid-item">Scorpio</p>
  </div>
  <div>
    <a href="{% url 'sagittarius' %}"><img src="{% static 'horoscopes/sagittarius.svg' %}" alt="" /></a>
    <p class="grid-item">Sagittarius</p>
  </div>
  <div>
    <a href="{% url 'capricorn' %}"><img src="{% static 'horoscopes/capricorn.svg' %}" alt="" /></a>
    <p class="grid-item">Capricorn</p>
  </div>
  <div>
    <a href="{% url 'aquarius' %}"><img src="{% static 'horoscopes/aquarius.svg' %}" alt="" /></a>
    <p class="grid-item">Aquarius</p>
  </div>
  <div>
    <a href="{% url 'pisces' %}"><img src="{% static 'horoscopes/pisces.svg' %}" alt="" /></a>
    <p class="grid-item">Pisces</p>
  </div>
</div>

<!-- <div class="bottom-nav-container">
 
  
</div> -->



{% endblock %}
