{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- <div class="profile">IF YOU WERE AN ARIES...</div> -->


<div class="no-pic"><img style="width: 150px; height: 150px; border-radius: 50%;" src="{% static 'horoscopes/leo.svg' %}" alt=""></div>



<div style="margin-top: 20px; font-weight: bold;" class="profile">LEO</div>

<div style="color: #333333; margin-bottom: 40px; margin-top: 14px; font-size: 18px;"class="sign-box">Pioneering and courageous</div>

<p class="edit-title">DESCRIPTION</p>
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<span class="h-d" id='api'></span>
<p class="edit-title">LUCKY TIME</p> 
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<span class="h-d" id='apinum'></span>
<p class="edit-title">MOOD</p>
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<span class="h-d" id='apimood'></span>
<p class="edit-title">COLOR</p>
<img class="line" src="{% static 'images/small-line.svg' %}" alt="">
<span class="h-d" id='apicolor'></span>

<div class="bottom-nav-container">
    <div><a class="nav" href="{% url 'matches' %}">MATCHES</a></div>
    <div><a class="nav" href="{% url 'profile' %}">PROFILE</a></div>
    <div><a class="nav" href="{% url 'horoscope_index' %}">HOROSCOPES</a></div>
    <div><a class="nav" href="{% url 'home' %} ">LOG OUT</a></div>
</div> 



 <script>
    
    let horoscope = document.querySelector('#api')
    let horoscopeNum = document.querySelector('#apinum')
    let horoscopeMood = document.querySelector('#apimood')
    let horoscopeColor = document.querySelector('#apicolor')

    fetch("https://sameer-kumar-aztro-v1.p.rapidapi.com/?sign=leo&day=today", {
	"method": "POST",
	"headers": {
		"x-rapidapi-host": "sameer-kumar-aztro-v1.p.rapidapi.com",
		"x-rapidapi-key": "f8b2763b42msh1e3e6fc2c58638dp1e89bbjsn4c0e49670f6d"
	}
})
.then(res=>res.json())
.then(data => {
	horoscope.innerHTML = data.description
    horoscopeNum.innerHTML = data.lucky_time
    horoscopeMood.innerHTML = data.mood
    horoscopeColor.innerHTML = data.color
})
.catch(err => {
	console.error(err);
});
</script>
{% endblock %}